html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }




.active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #f48fb1;
    box-shadow: 0 0 0 1px #edeaf1;
    margin :20px 200px;
    text-align: center;
box-align: center;   


  }
  .active-pink-3 input[type=text] {
    border: 1px solid #f48fb1;
    box-shadow: 0 0 0 1px #f48fb1;
    margin :20px 200px;
    text-align: center;


  }
  .active-purple-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #ce93d8;
    box-shadow: 0 0 0 1px #ce93d8;
    margin :20px 200px;
    text-align: center;


  }
  .active-purple-3 input[type=text] {
    border: 1px solid #ce93d8;
    box-shadow: 0 0 0 1px #ce93d8;
   margin :20px 200px;
   text-align: center;


  }
  .active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    margin :20px 200px;
    text-align: center;


  }
  .active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    margin :20px 200px;
    text-align: center;

  }
  
  .forsubmit {
      text-align: center;
  }
  .form-control {
    width: 1150px;
    text-align: center;
  }

 

  


   
  .container {
  
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-column {
    width: 65%;
    position: relative;
  }
   
  .right-column {
    width: 35%;
    margin-top: 60px;
  }
  
  .left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
   
  .left-column img.active {
    opacity: 1;
  }
  
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
  
  .product-color {
    margin-bottom: 30px;
  }
   
  .color-choose div {
    display: inline-block;
  }
   
 
  
  
  
  
  
  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }



  .navbar-light {
    background-color: rgb(218, 14, 14);
}
.mainnav {
  color:orange;
    padding: 0;
}
.navbar-brand {
    padding: 0;
    color: whitesmoke;
}
.navbar-brand:hover,
.nav-link:hover {
    color: goldenrod;
}

.nav-link {
    color: whitesmoke;
}

.navbar-toggler,
.custom-toggler {
    border-color: whitesmoke;
    border-width: 2px;
}

.navbar-toggler:hover {
    border-color: goldenrod;
}

.fa-bars:hover {
    color: goldenrod;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}


body {
  background-color: rgb(226, 151, 151);;
}
